<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExtenstionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotoEditExtenstion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShareExtenstion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>875780A61AC4657900D9E45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D0789F1AC445AA00435994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D078B81AC445AB00435994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D078CC1AC445D900435994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
